extends /card

block content
  link(rel='stylesheet', href='https://www.exchange4free.com/xandgo/css/sendairtime.2.0.0.css')
  .logo
  h1.title.sendAirtimeMainTitle Send Airtime
  h1.sendAirtimeConfirmed.hidden Payment Details
  .payInCountryBlock.hidden
    h2 Sending Country
    div
      select(id='payIn',name='payInCountries').payInCountrySelect
        option(value='Default') Select Pay In Country
        if payInCountries
          each payInCountry in payInCountries
            option(value=payInCountry.sourceCountryCode) #{payInCountry.sourceCountryName}
  .payInCurrencyBlock.hidden
    .currencyIn
      select(id='payInCurrencies',name='payInCurrencies').payInCurrencySelect
  .payInMethodBlock.hidden
    .paymethodIn
      select(id='paymethodIn',name='paymethodIn').paymethodInSelect
  .payOutCountryBlock.hidden
    h2 Recipient Country
    select(id='payOut',name='payOutCountries').payOutCountrySelect
      option(value='Default') Country
      if payOutCountries
        each payOutCountry in payOutCountries
          option(value=payOutCountry.destinationCountryCode) #{payOutCountry.destinationCountryName}
  .beneficiaryPayOutOptions.hidden
    h2 Recipient Details
    input(type="text", name="firstName", placeholder="First Name").firstNametxt
    input(type="text", name="lastName", placeholder="Last Name").lastNametxt  
    input(type="text", name="telephoneintl", readonly="readonly").telephoneintltxt
    input(type="text", name="telephone", placeholder="Mobile Number").telephonetxt
    input(type="text", name="telephone", placeholder="MSISDN Number" readonly="readonly").telephoneMSISDN
    a.btn.getAirtimeOptions Get Airtime Options
  .airtimeOptions.hidden
    select(id='airtimeOptionsSelect',name='airtimeOptionsSelect').airtimeOptionsSelect    
  .beneficiaryConfirmation.hidden
    h2 Confirm Airtime Info
    table
      tr
        td Recipient First Name
      tr
        td
          input(type="text", name="beneficiaryFirstName", readonly="readonly").beneficiaryFirstName
      tr
        td Recipient Last Name
      tr
        td
          input(type="text", name="beneficiaryLastName", readonly="readonly").beneficiaryLastName
      tr
        td Recipient MSISDN
      tr
        td
          input(type="text", name="beneficiaryMSISDN", readonly="readonly").beneficiaryMSISDN
      tr
        td Amount to be paid
      tr
        td
          input(type="text", name="amounttobepaid", readonly="readonly").amounttobepaid
      tr
        td Airtime Voucher
      tr
        td
          input(type="text", name="airtimeVoucher", readonly="readonly").airtimeVoucher
  .beneficiaryAccept.hidden
    table      
      tr
        td.quoteAcceptanceTerms On acceptance of the above, I confirm that I commit to the airtime rate which is fixed and can’t be changed and that I have read and agree to the Terms and Conditions of Exchange4free.
    a.btn.confirmOrder Confirm Order
  .cardExpired.hidden
    table
      tr
        td Your transaction session has expired. Please note that due to security restrictions, the time from commencing the transaction to completion must be within a 10 minute window. Please re-create your transaction.
  .cardCompletedCC.hidden
    table
      tr
        td Thanks for your booking. 
      tr
        td Transaction Reference
      tr
        td
          input(type="CCReference", name="CCReference", readonly="readonly").CCReference
  .cardCompletedKYC.hidden
    p We have noted that you have not yet completed a transaction or this is your 
    | first transaction with us. In order to COMPLETE YOUR TRANSACTION BOOKING 
    | please can you take a quick photo and upload the following documents 
    | via our app (use menu in bottom left corner):
    br
    br 
    b Upload ID: 
    | Take a clear photo of your ID document or passport and upload.
    br
    br
    b Upload Address: 
    | Take a clear photo of your proof of residential address dated 
    | within the previous 3 months (Bank Statement or Utility Bill) and upload.