extends /card

block content
  if locals.slides && locals.slides.length > 0
    .wrapper
      .cont
        each slide in locals.slides
          .slide
            if slide.img
              if slide.imgHeight
                img(src=slide.img, height= slide.imgHeight + 'px')
              else
                img(src=slide.img)

            if slide.heading
              h3(style= slide.headingCSS || '').h= slide.heading

            if slide.copy
              p(style= slide.copyCSS || '')= slide.copy

    if locals.slides.length > 1
      .nav
        each slide, i in locals.slides
          - var activeClass = i == 0 ? 'active' : ''

          a(href='#', class= activeClass)
            i
  else
    p.error Invalid Config