extends /card

block content
  link(rel='stylesheet', href='https://www.exchange4free.com/xandgo/css/createbeneficiary.2.0.0.css')
  .logo
  h1 Create a Beneficiary
  .beneficiarycountry.hiden
    select(id='beneficiarycountrySelect',name='beneficiarycountrySelect').beneficiarycountrySelect
  .beneficiaryCurrencyLabel.hidden
  .beneficiarycurrency.hidden
    select(id='beneficiarycurrencySelect',name='beneficiarycurrencySelect').beneficiarycurrencySelect
  .reasonfortransfer.hidden
    select(id='reasonfortransferSelect',name='reasonfortransferSelect').reasonfortransferSelect
  .beneficiarypayoutmethod.hidden
    select(id='beneficiarypayoutmethodSelect',name='beneficiarypayoutmethodSelect').beneficiarypayoutmethodSelect
  .beneficiarytype.hidden
    select(id='beneficiarytypeSelect',name='beneficiarytypeSelect').beneficiarytypeSelect
  .beneficiaryPayoutMethodNotRequired.hidden
    p Please note that beneficiaries for the currency and payout method you have selected 
    | are created during the 
    b SEND MONEY 
    | process. You can now go to 
    b SEND MONEY 
    | and make your required payment. 
  h2.bankingdetails.hidden Banking Details
  .beneficiaryBankName.hidden
    input(type="text", name="beneficiaryBankName", placeholder="Bank Name").beneficiaryBankNametxt
    select(id='beneficiaryBankNameSelect',name='beneficiaryBankNameSelect').beneficiaryBankNameSelect
  .beneficiaryBankBranchName.hidden
    input(type="text", name="beneficiaryBankBranchName", placeholder="Bank Branch Name").beneficiaryBankBranchNametxt
  .beneficiaryBankCity.hidden
    input(type="text", name="beneficiaryBankCity", placeholder="Bank City").beneficiaryBankCitytxt
  .beneficiaryBankAccountHolderName.hidden
    input(type="text", name="beneficiaryBankAccountHolderName", placeholder="Account Holder Name").beneficiaryBankAccountHolderNametxt
  .beneficiaryBankAccountType.hidden
    label Account Type
    select(id='beneficiaryBankAccountTypeSelect',name='beneficiaryBankAccountTypeSelect').beneficiaryBankAccountTypeSelect
  .beneficiaryBankAccountNumber.hidden
    input(type="text", name="beneficiaryBankAccountNumber", placeholder="Bank Account Number").beneficiaryBankAccountNumbertxt
  .beneficiaryBankCPF.hidden
    input(type="text", name="beneficiaryBankCPF", placeholder="Bank CPF").beneficiaryBankCPFtxt
  .beneficiaryBankReferencetoAppear.hidden
    input(type="text", name="beneficiaryBankReferencetoAppear", placeholder="Reference to Appear").beneficiaryBankReferencetoAppeartxt
  .beneficiaryBankEarthVanPort.hidden
    input(type="text", name="beneficiaryBankEarthVanPort", placeholder="Earthport VAN Number").beneficiaryBankEarthVanPorttxt
  .beneficiaryBankSwiftCode.hidden
    input(type="text", name="beneficiaryBankSwiftCode", placeholder="Swift Code").beneficiaryBankSwiftCodetxt
  .beneficiaryBankBSBCode.hidden
    input(type="text", name="beneficiaryBankSwiftCode", placeholder="BSB Code").beneficiaryBankBSBCodetxt
  .beneficiaryBankSortCode.hidden
    input(type="text", name="beneficiaryBankSortCode", placeholder="Sort Code").beneficiaryBankSortCodetxt
  .beneficiaryBankBranchCode.hidden
    input(type="text", name="beneficiaryBankBranchCode", placeholder="Branch Code").beneficiaryBankBranchCodetxt
  .beneficiaryBankAddress.hidden
    input(type="text", name="beneficiaryBankAddress", placeholder="Bank Address").beneficiaryBankAddresstxt
  .beneficiaryBankIBAN.hidden
    input(type="text", name="beneficiaryBankIBAN", placeholder="Bank IBAN").beneficiaryBankIBANtxt
  .beneficiaryBankBIC.hidden
    input(type="text", name="beneficiaryBankBIC", placeholder="Bank BIC").beneficiaryBankBICtxt
  .beneficiaryBankABA.hidden
    input(type="text", name="beneficiaryBankABA", placeholder="Bank ABA").beneficiaryBankABAtxt
  .beneficiaryBankCode.hidden
    input(type="text", name="beneficiaryBankCode", placeholder="Bank Code").beneficiaryBankCodetxt
    select(id='beneficiaryBankCodeSelect',name='beneficiaryBankCodeSelect').beneficiaryBankCodeSelect.hidden
  .beneficiaryBankPrefix.hidden
    input(type="text", name="beneficiaryBankPrefix", placeholder="Bank Prefix").beneficiaryBankPrefixtxt
  .beneficiaryBankAgencyNumber.hidden
    input(type="text", name="beneficiaryBankAgencyNumber", placeholder="Bank Agency Number").beneficiaryBankAgencyNumbertxt
  .beneficiaryBankClabeNumber.hidden
    input(type="text", name="beneficiaryBankClabeNumber", placeholder="Bank CLABE Number").beneficmberiaryBankClabeNumbertxt
  .beneficiaryBankClearingCode.hidden
    input(type="text", name="beneficiaryBankClearingCode", placeholder="Bank Clearing Code").beneficiaryBankClearingCodetxt
  .beneficiaryBankCPFCNPINumber.hidden
    input(type="text", name="beneficiaryBankCPFCNPINumber", placeholder="Bank CPF or CNPJ Number").beneficiaryBankCPFCNPINumbertxt
  .beneficiaryBankHoldingBranch.hidden
    input(type="text", name="beneficiaryBankHoldingBranch", placeholder="Holding Branch").beneficiaryBankHoldingBranchtxt
  .beneficiaryBankIFSCCode.hidden
    input(type="text", name="beneficiaryBankIFSCCode", placeholder="IFSC Code").beneficiaryBankIFSCCodetxt
  .beneficiaryBankSuffix.hidden
    input(type="text", name="beneficiaryBankSuffix", placeholder="Bank Suffix").beneficiaryBankSuffixtxt
  .beneficiaryBankTransitNumber.hidden
    input(type="text", name="beneficiaryBankTransitNumber", placeholder="Bank Transit Number").beneficiaryBankTransitNumbertxt
  .beneficiaryBankNibNumber.hidden
    input(type="text", name="beneficiaryBankNibNumber", placeholder="Bank NIB Number").beneficiaryBambernkNibNumbertxt
  h2.beneficiaryDetails.hidden Beneficiary Details 
  .beneficiarypersonaldetails.hidden
    label Beneficiary Information
  .beneficiaryFirstName.hidden
    input(type="text", name="firstName", placeholder="First Name").firstNametxt
  .beneficiaryLastName.hidden
    input(type="text", name="lastName", placeholder="Last Name").lastNametxt
  .beneficiaryIDType.hidden
    select(id='idtypeSelect',name='idtypeSelect').idtypeSelect
      option(value='Default' ) ID Type
      option(value='SAIDNumber' ) SA ID Number
      option(value='ForeignIDNumber' ) Foreign ID Number
      option(value='TemporaryResidentNumber' ) Temporary Resident Number
  .beneficiaryid.hidden
    input(type="text", name="idnumber", placeholder="ID Number").idtxt
  .beneficiaryBankCashCollectionPassport.hidden
    input(type="text", name="beneficiaryBankCashCollectionPassport", placeholder="Passport Number").beneficiaryBankCashCollectionPassporttxt
  .beneficiarytemporaryresidentid.hidden
    input(type="text", name="temporaryresidentid", placeholder="Temporary Resident Permit Number").temporaryresidentidtxt
  .beneficiarydateofbirth.hidden
    input(type="text", name="dateofbirth", placeholder="Date of Birth (yyyy-mm-dd)").dateofbirthtxt
  .beneficiaryforeignid.hidden
    input(type="text", name="foreignid", placeholder="Foreign ID Number").foreignidtxt
  .beneficiaryforeignidcountry.hidden
    label Country of Issue
    select(id='beneficiaryforeignidcountrySelect',name='beneficiaryforeignidcountrySelect').beneficiaryforeignidcountrySelect
  .beneficiarygender.hidden
    label Gender
    select(id='beneficiarygenderSelect',name='beneficiarygenderSelect').beneficiarygenderSelecttxt
      option(value='DEF') Select Gender
      option(value='0') Male
      option(value='1') Female
  .beneficiaryBankContactFirstName.hidden
    input(type="text", name="beneficiaryBankContactFirstName", placeholder="Contact Name").beneficiaryBankContactFirstNametxt
  .beneficiaryBankContactLastName.hidden
    input(type="text", name="beneficiaryBankContactLastName", placeholder="Contact Last Name").beneficiaryBankContactLastNametxt
  .beneficiaryBankCompanyType.hidden
    select(id='beneficiaryBankCompanyTypeSelect',name='beneficiaryBankCompanyTypeSelect').beneficiaryBankCompanyTypeSelect
  .beneficiaryBankCompanyActivity.hidden
    select(id='beneficiaryBankCompanyActivitySelect',name='beneficiaryBankCompanyActivitySelect').beneficiaryBankCompanyActivitySelect
  .beneficiaryBankRegistrationNumber.hidden
    input(type="text", name="beneficiaryBankRegistrationNumber", placeholder="Company Registration Number").beneficiaryBankRegistrationNumbertxt
  .beneficiaryBankCompanyName.hidden
    input(type="text", name="beneficiaryBankCompanyName", placeholder="Company Name").beneficiaryBankCompanyNametxt   
  .beneficiaryemail.hidden
    input(type="text", name="email", placeholder="Email").emailtxt
  .beneficiarytelephone.hidden
    input(type="text", name="telephoneintl", readonly="readonly").telephoneintltxt
    input(type="text", name="telephone", placeholder="Mobile Number").telephonetxt
  h2.benefeciaryAddress.hidden Beneficiary Address
  .beneficiarystreetNumber.hidden
    input(type="text", name="streetnumber", placeholder="Street Number").streetnumbertxt
  .beneficiarystreetName.hidden
    input(type="text", name="streetname", placeholder="Street Name").streetnametxt
  .beneficiaryprovinceZAR.hidden
    label Province
    select(id='beneficiaryprovinceZARSelect',name='beneficiaryprovinceZARSelect').beneficiaryprovinceZARSelect
  .beneficiarycityZAR.hidden
    label City
    select(id='beneficiarycityZARSelect',name='beneficiarycityZARSelect').beneficiarycityZARSelect
  .beneficiarysuburbZAR.hidden
    label Suburb
    select(id='beneficiarysuburbZARSelect',name='beneficiarysuburbZARSelect').beneficiarysuburbZARSelect
  .beneficiarypostCodeZAR.hidden
    label Postal Code
    select(id='beneficiarypostCodeZARSelect',name='beneficiarypostCodeZARSelect').beneficiarypostCodeZARSelect
  .beneficiarycity.hidden
    input(type="text", name="beneficiarycity", placeholder="City").beneficiarycitytxt
  .beneficiarypostCode.hidden
    input(type="text", name="beneficiarypostCode", placeholder="Postal Code").beneficiarypostCodetxt
  .benefeciaryControls.hidden
    a.btn.confirmFinal Create Beneficiary
  h2.beneficiaryComplete.hidden Beneficiary Created
  .beneficiaryCompleteDetails.hidden
    label You have successfully created the following Beneficiary:
    label Beneficiary Name/Entity
    input(type="text", name="beneficiaryCompleteName" readonly="readonly").beneficiaryCompleteNametxt
    label Beneficiary Country
    input(type="text", name="beneficiaryCompleteCountry" readonly="readonly").beneficiaryCompleteCountrytxt
    label Account Number
    input(type="text", name="beneficiaryCompleteAccountNumber" readonly="readonly").beneficiaryCompleteAccountNumbertxt
    p You can now go to 
    b SEND MONEY 
    | and make a payment to this beneficiary.