extends /card

block content
  .survey(data-status= locals.status)
    .survey-modal
      div
        a(href='#close', title='Close') &nbsp;
        .survey-question
          h3
          .survey-question-description
          .survey-question-input
          .survey-question-footer
            .survey-question-next
              | Continue

            .survey-question-back
              | Back

    .survey-header
      .bg-icon &nbsp;
      h1= locals.survey.name
      h3= locals.survey.questions.length + ' question survey'

    .survey-body
      if locals.survey.description
        p= locals.survey.description

    if locals.responses.length > 0
      .survey-footer
        | Continue

    else
      .survey-footer
        | Start survey