.hdc {
  &.xandgo.survey {
    .hdc-inner {
      padding: 0;

      .swiper-container {
        width: 225px;
        height: 143px;
        overflow: hidden;
        background-color: #efefef;

        .swiper-button-next, .swiper-button-prev {
          height: 22px;
          width: 13px;
          background-size: 13px 22px;
          margin-top: -11px
        }
      }

      .hdc-survey {
        .hdc-survey-header {
          padding: 20px 15px 5px 15px;
          border-bottom: 1px dashed #E1E1E1;

          .bg-icon {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAQMAAABtzGvEAAAABlBMVEUAAABDQ0PjOoa6AAAAAXRSTlMAQObYZgAAABZJREFUGNNjwAf+M/8HAtIpPGC42wcAgvJ30YaV8NQAAAAASUVORK5CYII=) 0 0 no-repeat;
            background-size: 18px 18px;
            width: 18px;
            height: 18px;
            float: right;
          }

          h1 {
            margin: 0 0 5px 0;
            font-size: 16px;
            line-height: 16px;
          }

          h3 {
            color: #B1B1B1;
            font-size: 13px;
            line-height: 13px;
            font-weight: 300;
            margin: 0 0 10px 0;
          }
        }

        .hdc-survey-progress {
          display: none;
          padding: 20px 10px;
          border-bottom: 1px dashed #E1E1E1;

          &.visible {
            display: inherit;
          }

          h3 {
            color: #B1B1B1;
            font-size: 13px;
            line-height: 13px;
            font-weight: 300;
            margin: 0 0 10px 0;
          }

          .hdc-survey-progress-bar {
            width: 100%;
            height: 2px;
            background-color: #CBCBCB;

            .hdc-survey-progress-percentage {
              background-color: #000;
              width: 0;
              height: 2px;
            }
          }
        }

        .hdc-survey-body {
          padding: 20px 10px;
          border-bottom: 1px dashed #E1E1E1;

          p {
            color: #4D4D4D;
            -webkit-line-clamp: 8;
          }
        }

        .hdc-survey-footer {
          padding: 15px;
          color: #B1B1B1;
          font-size: 13px;
          line-height: 13px;
          font-weight: 300;

          &.active {
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            cursor: pointer;
            color: #000;

            &:after {
              content: '';
              width: 10px;
              height: 10px;
              border-right: 0.1em solid #CBCBCB;
              border-top: 0.1em solid #CBCBCB;
              transform: rotate(45deg);
              margin-top: 5px;
              float: right;
            }
          }
        }
      }
    }
  }
}