.hdc {
  &.in2assets {
    .hdc-inner {
      .error {
        color: #ff0000;
        text-align: center;
        padding: 10px;
      }
    }

    .swiper-pagination-bullet-active {
      background: #ff4c00;
    }

    .auction-title {
      background-color: #ff4c00;
      color: #fff;
      padding: 8px 15px 8px 10px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;

      img {
        float: left;
        margin-right: 10px;
      }
    }

    .auction-bar {
      .auction-details {
        padding: 10px;
        color: #333;
      }
    }

    table {
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: #777;

      tr {
        td {
          vertical-align: top;
          padding: 2px 0 4px 0;

          &.label {
            width: 60px;
            color: #999;
            font-weight: 300;
            padding-top: 1px;
          }

          a {
            text-decoration: none !important;
            color: #777 !important;

            &.external {
              color: #15c !important;
              text-decoration: underline !important;
            }
          }
        }

        &:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}